.bookDesc {
  padding-bottom: 42px;
}
.routText {
  background-color: var(--grey-black-5);
  padding: 23px 0;
  margin-bottom: 42px;
}
.bookSection {
  display: flex;
}
.bookImg {
  margin-right: 30px;
}
.titleText {
  margin-bottom: 24px;
}
.subtitleText {
  margin-bottom: 32px;
}
.button {
  margin-bottom: 62px;
}
.aboutTitle {
  margin-bottom: 32px;
}
.about_768 {
  display: none;
}
.customSwiper {
  max-width: 450px;
}
@media screen and (max-width: 768px) {
  .bookImg {
    width: 136px;
    height: 198px;
  }
  .titleH {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .subtitleH {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .button {
    max-width: 306px;
  }
  .about {
    display: none;
  }
  .about_768 {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .bookSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
