.main {
  display: flex;
  flex-direction: column;
}
.menuItem {
  margin-bottom: 42px;
}
.items {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
}
.item {
  display: flex;
}
.item p > span {
  margin-left: 8px;
}
.count {
  font-size: 14px;
  line-height: 24px;
  color: var(--grey-black-40);
}
@media screen and (max-width: 1180px) {
  .main {
    display: none;
  }
  .main.mainOpen {
    position: absolute;
    display: flex;
    top: 116px;
    left: 0;
    background: #f9f9fa;
    z-index: 100;
    overflow: auto;
    height: 100vh;
  }
}
