.main {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 280px;
}
.menuItem {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.menuItem svg path {
  fill: var(--dark-color);
}
.active svg path {
  fill: var(--accept-color);
}
.items {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
}
.items > li:last-child {
  margin-bottom: 42px;
}
.borderBottom {
  border-bottom: 1px solid var(--accept-color);
}
.item {
  display: flex;
}
.item p > span {
  margin-left: 8px;
}
.count {
  font-size: 14px;
  line-height: 24px;
  color: var(--grey-black-40);
}
@media screen and (max-width: 1180px) {
  .main {
    display: none;
  }
  .main.mainOpen {
    position: absolute;
    display: flex;
    top: 116px;
    left: 0;
    background: #f9f9fa;
    z-index: 100;
  }
}
