.commonRating {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
}
.ratingText {
  margin-bottom: 16px;
}
.ratingStars {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--grey-black-10);
  padding-top: 16px;
}
.ratingStars > div {
  margin-right: 24px;
}
.detailTitle {
  max-width: 350px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey-black-10);
}
.table {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 62px;
}
.tbody1 {
  width: 40%;
}
.tobdy2 {
  width: 60%;
}
.tebleLine {
  vertical-align: baseline;
}
.tableTitle {
  width: 40%;
  padding-right: 15px;
}
.tableSubtitle {
  width: 60%;
}
.reviewsTitle {
  max-width: 350px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-black-10);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.reviewsTitleT {
  margin-right: 6px;
}
.reviewsTitleS {
  font-size: 14px;
  line-height: 24px;
}
.userComment {
  margin-bottom: 42px;
}
.reviewButton {
  margin-bottom: 42px;
}
@media screen and (max-width: 768px) {
  .reviewButton button {
    max-width: 640px;
  }
}
@media screen and (max-width: 320px) {
  .table {
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
  }
  .tbody1 {
    margin-bottom: 10px;
  }
  .tableTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}
